* {
  margin: 0 auto;
}

#cards-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

div {
  margin-right: 5px;
}

#cards-container2 {
  display: flex;
  flex-direction: row;
}
